*.log
*.pyc
*.xml
*.wtf
*.iml
local.yaml

.vscode/settings.json
.idea/RF_Balance_Profound.iml
.idea/sonarlint/issuestore/*
Logs/EfficiencyTest/*
Logs/wtf.log
Utilities/testdelete.py
main.spec
Documentation/~$wtf_comparison_test.xlsx
