*.log
*.pyc
*.xml
*.pyc
*.log
*.log
*.pyc
*.log
*.xml
*.pyc

local.yaml
local.yaml
*.wtf
.vscode/settings.json
*.log
*.iml
.idea/RF_Balance_Profound.iml
logs/wtf.log
Utilities/testdelete.py
.idea/sonarlint/issuestore/1/3/1388cb49bdcaa8af19fba8c3c044cb2daab002f3
.idea/sonarlint/issuestore/index.pb
default.yaml
logs/wtf.log
logs/EfficiencyTest/E01/FindElement01_Theta__UMSProfile.txt
logs/EfficiencyTest/E01/FindElement01_X__UMSProfile.txt
logs/EfficiencyTest/E02/FindElement02_Theta__UMSProfile.txt
logs/EfficiencyTest/E02/FindElement02_X__UMSProfile.txt
logs/EfficiencyTest/E03/FindElement03_Theta__UMSProfile.txt
logs/EfficiencyTest/E03/FindElement03_X__UMSProfile.txt
logs/EfficiencyTest/E10/FindElement10_X__UMSProfile.txt
logs/EfficiencyTest/E10/FindElement10_Theta__UMSProfile.txt
logs/EfficiencyTest/E09/FindElement09_X__UMSProfile.txt
logs/EfficiencyTest/E09/FindElement09_Theta__UMSProfile.txt
logs/EfficiencyTest/E08/FindElement08_X__UMSProfile.txt
logs/EfficiencyTest/E08/FindElement08_Theta__UMSProfile.txt
logs/EfficiencyTest/E07/FindElement07_X__UMSProfile.txt
logs/EfficiencyTest/E07/FindElement07_Theta__UMSProfile.txt
logs/EfficiencyTest/E06/FindElement06_X__UMSProfile.txt
logs/EfficiencyTest/E06/FindElement06_Theta__UMSProfile.txt
logs/EfficiencyTest/E05/FindElement05_X__UMSProfile.txt
logs/EfficiencyTest/E05/FindElement05_Theta__UMSProfile.txt
logs/EfficiencyTest/E04/FindElement04_X__UMSProfile.txt
logs/EfficiencyTest/E04/FindElement04_Theta__UMSProfile.txt
