pyqt5-qt5==5.15.2
pyqt5-sip==12.9.1
pyqt5==5.15.6
pyqtgraph==0.12.4
typing-extensions==4.1.1
scipy==1.6.2
pyvisa-py==0.5.3
termcolor==1.1.0
pyyaml==6.0
pyvisa==1.12.0
pyserial==3.5
pythonnet==2.5.2
nidaqmx==0.6.2